@model Employee_App.Models.Employee.EmployeeModel
@using Microsoft.AspNetCore.Mvc.Rendering



<h2>Dodaj Pracownika</h2>

<form asp-action="Create" asp-controller="Employee" method="post" class="needs-validation" novalidate>

    <div>
        <label asp-for="FirstName" class="form-label">Imię</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LastName" class="form-label">Nazwisko</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PESEL" class="form-label">PESEL</label>
        <input asp-for="PESEL" class="form-control">
        <span asp-validation-for="PESEL" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Position" class="form-label">Stanowisko</label>
        <input asp-for="Position" class="form-control">
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Department" class="form-label">Dział</label>
        <input asp-for="Department" class="form-control">
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="HireDate" class="form-label">Data Zatrudnienia</label>
        <input asp-for="HireDate" class="form-control" type="date" placeholder="yyyy/mm/dd">
       <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="TerminationDate" class="form-label">Data Zakończenia</label>
        <input asp-for="TerminationDate" class="form-control" type="date" placeholder="yyyy/mm/dd">
        <span asp-validation-for="TerminationDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="EmployerId" class="form-label">Pracodawca</label>
        <select asp-for="EmployerId" asp-items="ViewBag.Employers" class="form-control">
            <option value="">Wybierz pracodawcę</option>
        </select>
        <span asp-validation-for="EmployerId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Utwórz</button>
</form>
