@model Employee_App.Models.Employee.EmployeeModel

<h1>Wyszukaj pracownika</h1>

<form id="employee-form">
    <div class="form-group m-2">
        <label for="category">Wybierz kategorię:</label>
        <select id="category" class="form-control">
            <option value="firstName">Imię</option>
            <option value="lastName">Nazwisko</option>
            <option value="position">Stanowisko</option>
            <option value="department">Oddział</option>
        </select>
    </div>
    <div class="form-group m-2">
        <label for="filter">Filtruj według wartości:</label>
        <input type="text" id="filter" name="filter" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" onclick="fetchEmployees()">Pobierz Pracowników</button>
</form>

<div id="employees-container" class="m-2"></div>

@section Scripts {
    <script>
        function fetchEmployees() {
            var category = document.getElementById('category').value;
            var filter = document.getElementById('filter').value;
            fetch(`/api/employees?category=${category}&filter=${filter}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Odpowiedź sieci nie była w porządku');
                    }
                    return response.json();
                })
                .then(data => {
                    displayEmployees(data);
                })
                .catch(error => {
                    console.error('Wystąpił problem z operacją pobierania:', error);
                });
        }

        function displayEmployees(employees) {
            var container = document.getElementById('employees-container');
            container.innerHTML = '<h2>Wyfiltrowani Pracownicy:</h2>';
            var ul = document.createElement('ul');
            employees.forEach(function (employee) {
                var li = document.createElement('li');
                li.textContent = employee.firstName + " " + employee.lastName + " pracuje jako " + employee.position + " w dziale " + employee.department;
                ul.appendChild(li);
            });
            container.appendChild(ul);
        }
    </script>
}